<!-- 共通レイアウト -->
<!-- User info-->
        <div class="col-md-3">
          <h2>User info</h2>
          　<% if user.profile_image.attached? %>
              <%= image_tag user.profile_image, size: "100x100" %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "100x100" %>
              <% end %>
              
           
          <table class="table">
              <tbody>
                <tr></tr>
                <tr>
              	  <th>name</th>
              	   <% if @showbook.present?%>
                    <th><%= @showbook.user.name %></th>
                   <% else %>
              	    <th><%=@user.name %></th>
              	   <% end %>
                </tr>
                <tr>
              	  <th>introduction</th>
              	   <% if @showbook.present?%>
                     <th><%= @showbook.user.introduction%></th>
                   <% else %>
              	     <th><%=@user.introduction%></th>
              	   <% end %>
                </tr>
              </tbody>
          </table>
          <div class="row">
             <div class="col-md-12">
            <%= link_to edit_user_path(user),class:"col-md-12 btn btn-outline-secondary btn-block" do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
             </div>
            <!--s 投稿機能  -->
            <div>
            <br><br>
             <h2 class="md-3">New book</h2>
              <%= form_with model: @book, local: true  do |f| %>
              <div class="from-group">
                 <storong>Title</storong>
                  <%= f.text_field :title, class:"form-control book_title"%><br>
              </div>
              <div class="from-group">
                <storong>Opinion</storong>
                <%= f.text_area :body, class:"form-control book_body" %><br>
              </div>
                <%= f.submit 'Create Book',class:"btn btn-success" %><br>
              <% end %>
            </div>
          <!--e 投稿機能  -->
       </div> 
    </div> 
 